
@using KPO_Cursovaya.Models;

@model List<User>;

@{
    ViewData["Title"] = "Панель администратора";
}
<div class="text-center">
	<h2 class="display-4">Пользователи</h2>
</div>
<!-- удалить, изменить юзера-->
<table class="table">
    <thead>
        <tr>
            <th>
                Имя <!-- удалить, изменить и т.д.-->
            </th>
            <th>
                Почта
            </th>
            <th>
                Подтверждена ли почта
            </th>
            <th>
                Пароль
            </th>
            <th>
                Роль
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a asp-action="UserEdit" asp-route-id="@item.Id">Изменить</a> 
                <a asp-action="UserDelete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
     </tbody>
</table>
@*    <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <a class="login100-form-btn" asp-action="ChangeHash">Что-то будет делать :)</a>
                </div>
    </div>*@
     @if (ViewBag.Message != null)
    {
        <script type="text/javascript"  charset="utf-8">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }