
@using KPO_Cursovaya.Models;

@model List<User>;

@{
    ViewData["Title"] = "AdminPanel";
}
<div class="text-center">
	<h2 class="display-4">Пользователи</h2>
</div>
<!-- удалить, изменить юзера-->
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name <!-- удалить, изменить и т.д.-->
            </th>
            <th>
                Email
            </th>
            <th>
                EmailConfirmed
            </th>
            <th>
                Password
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-action="UserEdit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="UserDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
     </tbody>
</table>
    <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <a class="login100-form-btn" asp-action="ChangeHash">Поменять Hash</a>
                </div>
    </div>
     @if (ViewBag.Message != null)
    {
        <script type="text/javascript"  charset="utf-8">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }