@model DbData.Models.Request
@using DbData.Models;
@{
    ViewBag.Title = "Детали фотографии";
    Entity entity = null;
    if (ViewBag.entities != null)
    {
         entity = ViewBag.entities as Entity;
    }
    
}

<style>
    .details-container {
        display: flex;
        padding: 10px;
    }
    .details-container h3{
        color: #4100ff;
    }
    .image-container,
    .text-container {
        flex: 1;
        padding: 10px;
    }
    .text-container-ls{
        flex: 1;
        padding: 10px;
    }
        .image-container img,
        .text-container {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
</style>

<div class="details-container">
    <div class="image-container">
        <h1>Фотография</h1>
        <img src="@Model.Url" alt="Image" style="max-width: 100%;">
    </div>
    <div class="text-container-ls">
        @if (!string.IsNullOrWhiteSpace(Model.Text))
        {
            <h1>Текст с фотографии</h1>
            <div class="text-container"> 
            <h4>@Model.Text</h4>
            </div>
            @if (entity != null)
            {
                <h1>Сущности, выявленные в тексте</h1>
                <div class="text-container"> 
                @if (!string.IsNullOrWhiteSpace(entity.Geo))
                {
                    <h3>ГЕО: </h3>
                    <h4>@entity.Geo</h4>
                }
                @if (!string.IsNullOrWhiteSpace(entity.Date))
                {
                    <h3>Дата: </h3>
                    <h4> @entity.Date</h4>
                }
                @if (!string.IsNullOrWhiteSpace(entity.Organization))
                {
                    <h3>Организация: </h3>
                    <h4>@entity.Organization</h4>
                }
                @if (!string.IsNullOrWhiteSpace(entity.Namedentity))
                {
                    <h3>Наименования: </h3>
                    <h4>@entity.Namedentity</h4>
                }
                @if (!string.IsNullOrWhiteSpace(entity.Person))
                {
                    <h3>Люди: </h3>
                    <h4>@entity.Person</h4>
                }
                @if (!string.IsNullOrWhiteSpace(entity.Street))
                {
                    <h3>Улица: </h3>
                    <h4>@entity.Street</h4>
                }
                @if (!string.IsNullOrWhiteSpace(entity.Money))
                {
                    <h3>Деньги: </h3>
                    <h4>@entity.Money</h4>
                }
                @if (!string.IsNullOrWhiteSpace(entity.Address))
                {
                    <h3>Адрес: </h3>
                    <h4>@entity.Address</h4>
                }
                </div>
            }
            else
            {
                <h1>Сущности в тексте отсутствуют, либо их невозможно определить</h1>
            }
        }
        else
        {
            <h1>Текст всё еще обрабатывается, либо его нет</h1>
        }
       
    </div>
</div>
