@model DbData.Models.Request
@using DbData.Models;
@{
    ViewBag.Title = "Детали фотографии";
    Entity entity = null;
    if (ViewBag.entities != null)
    {
         entity = ViewBag.entities as Entity;
    }
    
}

<style>
    .details-container {
        display: flex;
        padding: 10px;
    }

    .image-container,
    .text-container {
        flex: 1;
        padding: 10px;
    }

        .image-container img,
        .text-container h3 {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
</style>

<div class="details-container">
    <div class="image-container">
        <h1>Фотография</h1>
        <img src="@Model.Url" alt="Image" style="max-width: 100%;">
    </div>
    <div class="text-container">
        @if (!string.IsNullOrWhiteSpace(Model.Text))
        {
            <h1>Текст с фотографии</h1>
            <h3>@Model.Text</h3>
            @if (entity != null)
            {
                @switch (entity)
                {
                    case var e when !string.IsNullOrWhiteSpace(e.Geo):
                        <h3>ГЕО: @e.Geo</h3>
                        break;
                    case var e when !string.IsNullOrWhiteSpace(e.Date):
                        <h3>Дата: @e.Date</h3>
                        break;
                    case var e when !string.IsNullOrWhiteSpace(e.Organization):
                        <h3>Организация: @e.Organization</h3>
                        break;
                    case var e when !string.IsNullOrWhiteSpace(e.Namedentity):
                        <h3>Наименования: @e.Namedentity</h3>
                        break;
                    case var e when !string.IsNullOrWhiteSpace(e.Person):
                        <h3>Люди: @e.Person</h3>
                        break;
                    case var e when !string.IsNullOrWhiteSpace(e.Street):
                        <h3>Улица: @e.Street</h3>
                        break;
                    case var e when !string.IsNullOrWhiteSpace(e.Money):
                        <h3>Деньги: @e.Money</h3>
                        break;
                    case var e when !string.IsNullOrWhiteSpace(e.Address):
                        <h3>Адрес: @e.Address</h3>
                        break;
                    // Добавьте дополнительные case для других свойств, которые вы хотите отобразить
                    default:
                        // Обработка, если ни одно из свойств не прошло проверку
                        break;
                }
            }
            else
            {
                <h1>Сущности в тексте отсутствуют, либо их невозможно определить</h1>
            }
        }
        else
        {
            <h1>Текст всё еще обрабатывается, либо его нет</h1>
        }
       
    </div>
</div>
